node_modules
.next
.expo
dist
coverage
.turbo
*.log
*.tsbuildinfo
.env
.env.local
*.p8
*.p12
*.mobileprovision
google-service-account.json
mobile-app/google-services.json
mobile-app/GoogleService-Info.plist
mobile-app/.expo
mobile-app/.expo-shared
mobile-app/.expo-qa-export
admin-web/.next
admin-web/.next-vercel-build
admin-web/.next-verify
mobile-app/.expo-export-android-test
mobile-app/.expo-export-android-test-2
